{% load static %}

<div class="container_full"> 
    <div class="container">
        <div class="header_section">
            <div class="header_sec_left">
                <div class="web_logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo">
                </div>
            </div>
            <div class="header_sec_right">
                <div class="navbar_sec">
                    <div class="navbar">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                                <a href="#">Contact</a>
                                <a href="#">News</a>
                                <a href="#">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
