<style>

body{
    background: #1d1d1d;
    padding: 0;
    margin: 0;
}
.container_full{
    width: 100%;
    display: inline-block;
}
.container{
    width: 80%;
    display: block;
    margin: 0 auto;
}
img{
    width: 100%;
}

/**
    Header Section
**/
.header_section{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
}
.header_sec_left{
    width: 20%;
    float: left;
}
.header_sec_middle{
    width: 50%;
    float: left;
}
.header_sec_right{
    width: 30%;
    float: left;
}

.web_logo{
    width: 70px;
    height: 70px;
}

/**Header middle (Search bar)**/
.header_sec_middle .search{
    width: 80%;
    align-items: center;
    display: block;
    margin-top: 20px;
}
.header_sec_middle .search input{
    width: 100%;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/**header_sec_right**/
.user_details{
    display: flex;
    float: right;
}
.user_details a{
    margin-top: 25px;
    margin-left: 10px;
}



/**
    End Header Section
**/

/**
    Home page
**/

.section{
    width: 100%;
    display: block;
}

.section_left{
    width: 20%;
    float: left;
}
.section_middle{
    width: 60%;
    float: left;
}
.section_right{
    width: 20%;
    float: left;
}
.room_sec_cmn{
    background-color: #4a4e5f;
    padding: 10px;
    border-radius: 5px;
}

/**Section Middle**/

.sec_middle_room{
    margin: 0 40px;
}


/**Section Left**/

.topic_sec{
    display: block;
}
.topic_sec a{
    width: 100%;
    display: block;
    padding: 10px 15px;
}

/**Section Left**/

/**
   End Home page
**/


/**
    Room page
**/

.room_section_left{
    width: 60%;
    float: left;
    display: block;
}
.room_section_right{
    width: 38%;
    float: right;
    display: block;
}

/**Comment**/

.comment-section{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ddd;
}
.comment-section p{
    padding: 5px;
    margin: 0;
}

/**End Comment**/

/**
    Room page
**/

</style>