<style>

.container_full{
    width: 100%;
    display: inline-block;
}
.container{
    width: 80%;
    display: block;
    margin: 0 auto;
}
img{
    width: 100%;
}

/**
    Header Section
**/
.header_section{
    display: block;
}
.header_sec_left{
    width: 20%;
    float: left;
}
.header_sec_right{
    width: 80%;
    float: left;
}

.web_logo{
    width: 70px;
    height: 70px;
}

/**header_sec_right**/
.navbar{
    text-align: right;
}


/**
    End Header Section
**/

/**
    Home page
**/

.section{
    width: 100%;
    display: block;
}

.section_left{
    width: 25%;
    float: left;
}
.section_right{
    width: 75%;
    float: left;
}

/**Section Left**/

.topic_sec{
    display: block;
}
.topic_sec a{
    width: 100%;
    display: block;
    padding: 10px 15px;
}

/**Section Left**/

/**
    Home page
**/

</style>